@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
  background-color: #4f00e0ce;
}


.color-hover:hover {
  color: #5800ff !important;
  transition: .5s;
}

#home, #bell {
  color:#5800ff
}

#home:hover {
  color: #e320fd;
  transition: .5s;
}

#bell:hover {
  color: rgb(201, 183, 25);
  transition: .5s;
}

#cart-counter {
  font-size: 10px;
  position: absolute;
  right: 27px;
  top: 15px;
  background-color: #5800ff;
  padding: 0px 6px;
  color: #ffffff;
  border-radius: 50%;
  border: solid 1px #ffffff;
  font-weight: bold;
}

span {
  color: #5800ff;
  font-weight: 400;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card::after {
  transform: scale(0.9);
  transition: 0.5s;
}

.width30rem {
  width: 30rem;
}

.botons {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .botons:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .botons:hover {
  color: #fff;
 }
 
 .botons:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .botons:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .botons:active:before {
  background: #5800ff;
  transition: background 0s;
 }

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.card {
  width: 25rem !important;
}

.side-bar-wrapper {
  position: fixed;
  top: 0;
  width: 0vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(43, 0, 49, 0.685);
}

#side-bar {
  height: 40rem;
  width: 0;
  position: fixed;
  top: 20vh;
  right: 79vh;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  z-index: 3;
}

#close-cart {
  color: #5800ff;
  font-size: 40px;
  cursor: pointer;
  display: block;
  text-align: end;
  width: 400px;
}
#close-cart > i {
  margin: 14px 20px 0px;
}

.cart-container {
  width: 400px;
  display: block;
  transition: 0.3s;
  margin-right: 2px;
}

.img-cart {
  width: 100px;
}
.card-carrito {
  display: flex;
}
.item-count {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  padding: 0px 5px 2px 5px;
}

.eliminar-item {
  color: #bd7474;
  cursor: pointer;
}
.fa-minus,
.fa-plus {
  font-size: 12px;
  cursor: pointer;
}

#cart > div > div:nth-child(3) {
  background-color: rgba(19, 187, 182, 0.1);
  padding: 10px;
}
#cart > div > div:nth-child(2) > span.font-weight-bold.d-block.m-2 {
  font-size: 20px;
  font-weight: bold;
}
.clear-cart {
  border: solid 2px #5800ff;
  margin: 20px;
}
